Source: intel-edge-ipu
Section: metapackages
Priority: optional
Maintainer: Tan Wen Yan <wen.yan.tan@intel.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: intel-edge-ipu
Architecture: amd64
Depends:
 edge-ipu-dkms,
# from ipu7-camera-hal
 libcamhal0,
 libcamhal-dev,
 libcamhal-ipu7-0,
 libcamhal-ipu7-common,
 libcamhal-ipu7-dev,
 libcamhal-ipu75xa,
 libcamhal-ipu75xa-common,
 libcamhal-ipu75xa-dev,
 libcamhal-ipu75xa0,
 libcamhal-ipu7x,
 libcamhal-ipu7x-common,
 libcamhal-ipu7x-dev,
 libcamhal-ipu7x0,
 libcamhal-ipu8,
 libcamhal-ipu8-common,
 libcamhal-ipu8-dev,
# from ipu7-camera-bins
 libipu7-dev,
 libipu7x-dev,
 libipu75xa-dev,
 libipu8-dev,
 libia-aic-ipu7x0,
 libia-aic-ipu7x-dev,
 libia-aic-ipu75xa0,
 libia-aic-ipu75xa-dev,
 libia-aic-ipu8-0,
 libia-aic-ipu8-dev,
 libia-aiqb-parser-ipu7x0,
 libia-aiqb-parser-ipu7x-dev,
 libia-aiqb-parser-ipu75xa0,
 libia-aiqb-parser-ipu75xa-dev,
 libia-aiqb-parser-ipu8-0,
 libia-aiqb-parser-ipu8-dev,
 libia-aiq-v1-file-debug-ipu7x0,
 libia-aiq-v1-file-debug-ipu7x-dev,
 libia-aiq-v1-file-debug-ipu75xa0,
 libia-aiq-v1-file-debug-ipu75xa-dev,
 libia-aiq-v1-file-debug-ipu8-0,
 libia-aiq-v1-file-debug-ipu8-dev,
 libia-aiq-v1-ipu7x0,
 libia-aiq-v1-ipu7x-dev,
 libia-aiq-v1-ipu75xa0,
 libia-aiq-v1-ipu75xa-dev,
 libia-aiq-v1-ipu8-0,
 libia-aiq-v1-ipu8-dev,
 libia-bcomp-ipu7x0,
 libia-bcomp-ipu7x-dev,
 libia-bcomp-ipu75xa0,
 libia-bcomp-ipu75xa-dev,
 libia-bcomp-ipu8-0,
 libia-bcomp-ipu8-dev,
 libia-cca-ipu7x0,
 libia-cca-ipu7x-dev,
 libia-cca-ipu75xa0,
 libia-cca-ipu75xa-dev,
 libia-cca-ipu8-0,
 libia-cca-ipu8-dev,
 libia-ccat-ipu7x0,
 libia-ccat-ipu7x-dev,
 libia-ccat-ipu75xa0,
 libia-ccat-ipu75xa-dev,
 libia-ccat-ipu8-0,
 libia-ccat-ipu8-dev,
 libia-cmc-parser-ipu7x0,
 libia-cmc-parser-ipu7x-dev,
 libia-cmc-parser-ipu75xa0,
 libia-cmc-parser-ipu75xa-dev,
 libia-cmc-parser-ipu8-0,
 libia-cmc-parser-ipu8-dev,
 libia-coordinate-ipu7x0,
 libia-coordinate-ipu7x-dev,
 libia-coordinate-ipu75xa0,
 libia-coordinate-ipu75xa-dev,
 libia-coordinate-ipu8-0,
 libia-coordinate-ipu8-dev,
 libia-dvs-ipu7x0,
 libia-dvs-ipu7x-dev,
 libia-dvs-ipu75xa0,
 libia-dvs-ipu75xa-dev,
 libia-dvs-ipu8-0,
 libia-dvs-ipu8-dev,
 libia-emd-decoder-ipu7x0,
 libia-emd-decoder-ipu7x-dev,
 libia-emd-decoder-ipu75xa0,
 libia-emd-decoder-ipu75xa-dev,
 libia-emd-decoder-ipu8-0,
 libia-emd-decoder-ipu8-dev,
 libia-exc-ipu7x0,
 libia-exc-ipu7x-dev,
 libia-exc-ipu75xa0,
 libia-exc-ipu75xa-dev,
 libia-exc-ipu8-0,
 libia-exc-ipu8-dev,
 libia-lard-ipu7x0,
 libia-lard-ipu7x-dev,
 libia-lard-ipu75xa0,
 libia-lard-ipu75xa-dev,
 libia-lard-ipu8-0,
 libia-lard-ipu8-dev,
 libia-log-ipu7x0,
 libia-log-ipu7x-dev,
 libia-log-ipu75xa0,
 libia-log-ipu75xa-dev,
 libia-log-ipu8-0,
 libia-log-ipu8-dev,
 libia-mkn-ipu7x0,
 libia-mkn-ipu7x-dev,
 libia-mkn-ipu75xa0,
 libia-mkn-ipu75xa-dev,
 libia-mkn-ipu8-0,
 libia-mkn-ipu8-dev,
 libia-nvm-ipu7x0,
 libia-nvm-ipu7x-dev,
 libia-nvm-ipu75xa0,
 libia-nvm-ipu75xa-dev,
 libia-nvm-ipu8-0,
 libia-nvm-ipu8-dev,
 libia-view-ipu7x0,
 libia-view-ipu7x-dev,
 libia-view-ipu75xa0,
 libia-view-ipu75xa-dev,
 libia-view-ipu8-0,
 libia-view-ipu8-dev,
# from icamerasrc (gst-plugins-icamera)
 icamerasrc-1.0,
 icamerasrc-1.0-dev
Description: Intel Edge IPU metapackage
 Installs the Intel Edge IPU software stack.
 This package is a metapackage and contains no payload files.