Source: intel-edge-base
Section: metapackages
Priority: optional
Maintainer: Tan Wen Yan <wen.yan.tan@intel.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.4
Rules-Requires-Root: no

Package: intel-edge-base-standard
Architecture: amd64
Depends:
 intel-edge-graphics-core,
 intel-edge-graphics-display,
 intel-edge-media-core,
 linux-firmware,
 edge-edac-dkms,
 edge-issei-dkms
Description: Intel Edge base profile of desktop non-rt metapackage bundle
 Installs the Intel Edge base non-rt metapackage bundle.
 This package is a metapackage and contains no payload files.
