Source: intel-edge-npu
Section: metapackages
Priority: optional
Maintainer: Tan Wen Yan <wen.yan.tan@intel.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.4
Rules-Requires-Root: no

Package: intel-edge-npu
Architecture: amd64
Depends:
 intel-driver-compiler-npu,
 intel-fw-npu,
 intel-level-zero-npu,
 libtbb12,
 libze1 (= 1.28.2-1~24.04~ppa1)
Description: Intel Edge NPU metapackage
 Installs the Intel Edge AI runtime stack for Intel NPU components.
 This includes the NPU firmware, driver compiler and Level Zero NPU dependencies.
 .
 This package is a metapackage and contains no payload files.
